# OS files
.DS_Store

# Go binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output files
*.out

# Environment variables
.env
.env.local

# Project specific
.vscode/
.idea/
.chrome_data/

# DuckDB
*.duckdb
*.duckdb.wal

# Node.js
node_modules/
**/node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# Dialtone specific
smoke_debug.txt
smoke_debug_2.txt

# Plugin specific
src/plugins/**/node_modules/
src/plugins/**/swarm-metadata.duckdb
src/plugins/**/metadata.json

# Screenshots & Logs
*.png
!src/plugins/www/screenshots/*.png
!src/plugins/www/screenshots/summary.png

*.log
src/plugins/swarm/app/node_modules
src/plugins/swarm/test/node_modules

.vercel