*.go text eol=lf
*.sh text eol=lf
*.bash text eol=lf
*.zsh text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.xml text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.jsx text eol=lf
*.py text eol=lf
*.rb text eol=lf
*.java text eol=lf
*.zig text eol=lf
*.c text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.cpp text eol=lf
*.proto text eol=lf
*.service text eol=lf
*.conf text eol=lf
Dockerfile text eol=lf
Makefile text eol=lf

*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
