# Binaries
bin/
src/web_build/
*.exe
*.exe~

# IDE
.vscode/
.idea/

# AI tools
.crush

# OS
.DS_Store
Thumbs.db

# Go
*.test
*.out
.claude

# ENV
.env
.vercel
.env*.local

# logs
*.log

# Local ticket database
src/tickets/tickets.duckdb

# Local Dependencies
dialtone_dependencies/
dev_dependencies/
keys.duckdb
